<div class="container">
  <br>
  <div class="text-center">
    <%=  link_to 'Create Quote', new_quote_path, class: 'btn btn-primary mb-3' %>
  </div>
  <% @quotes.each do |quote| %>
    <div class="card mb-4">
      <div class="card-body">
        <p class="card-text">
          <i>"<%= quote.quote %>"</i>
          <h6 class="float-right"><%= quote.person %></h6>
        </p>
      </div>
    </div>
  <% end %>
  <div class="digg_pagination">
    <%= will_paginate %>
  </div>
</div>