<div class="container">
  <br>
  <% if admin_signed_in? %>
    <div class="text-center">
      <%=  link_to 'Create Quote', new_quote_path, class: 'btn btn-primary mb-3' %>
    </div>
  <% end %>
  <%= render 'quotes/quotes' %>
</div>